#foo{
    width: 500px;
    height: 300px;

    background: rgb(62,194,243);
background: linear-gradient(100deg, rgba(62,194,243,1) 0%, rgba(201,40,233,1) 100%);
    background-size: 1200px 900px ;
    background-position: center;
}